<div class="center hero-unit">
  <h1>Tennis Stats</h1>

  <h2>
    This is the home page for viewing various tennis statistics.
  </h2>
  <%= link_to "Players", players_intro_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Ranking Player Exceptions", rpexceptions_intro_path, class:
  "btn btn-large btn-primary" %>
</div>

